<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dailyDate</key>
		<date>2016-09-06T07:17:55Z</date>
		<key>dailyId</key>
		<real>0</real>
		<key>dailyScore</key>
		<integer>100</integer>
		<key>dailyComment</key>
		<string>hahahahahahahahahahahahhaahjjajsasas</string>
	</dict>
	<dict>
		<key>dailyDate</key>
		<date>2016-09-05T07:17:55Z</date>
		<key>dailyId</key>
		<integer>1</integer>
		<key>dailyScore</key>
		<integer>80</integer>
		<key>dailyComment</key>
		<string>ddDddDdDdDFAFAFAFAFAFA</string>
	</dict>
	<dict>
		<key>dailyDate</key>
		<date>2016-09-04T07:17:55Z</date>
		<key>dailyId</key>
		<integer>2</integer>
		<key>dailyScore</key>
		<integer>90</integer>
		<key>dailyComment</key>
		<string>hahahahahahahahahahahahhaahjjajsasas</string>
	</dict>
	<dict>
		<key>dailyDate</key>
		<date>2016-09-03T07:17:55Z</date>
		<key>dailyId</key>
		<integer>3</integer>
		<key>dailyScore</key>
		<integer>20</integer>
		<key>dailyComment</key>
		<string>SSSSSSSSSSSSSSSS</string>
	</dict>
	<dict>
		<key>dailyDate</key>
		<date>2016-09-02T07:17:55Z</date>
		<key>dailyId</key>
		<integer>0</integer>
		<key>dailyScore</key>
		<integer>100</integer>
		<key>dailyComment</key>
		<string>hahahahahahahahahahahahhaahjjajsasas</string>
	</dict>
	<dict>
		<key>dailyDate</key>
		<date>2016-09-01T07:17:55Z</date>
		<key>dailyId</key>
		<integer>0</integer>
		<key>dailyScore</key>
		<integer>96</integer>
		<key>dailyComment</key>
		<string>hahahahahahahahahahahahhaahjjajsasas</string>
	</dict>
	<dict>
		<key>dailyDate</key>
		<date>2016-08-31T07:17:55Z</date>
		<key>dailyId</key>
		<integer>0</integer>
		<key>dailyScore</key>
		<integer>22</integer>
		<key>dailyComment</key>
		<string>hahahahahahahahahahahahhaahjjajsasas</string>
	</dict>
</array>
</plist>
